html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Volkswagen
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
		link(rel="stylesheet", href="css/libs.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css")
		link(rel="stylesheet", href="css/main.min.css")
		link(rel="stylesheet", href="css/style.min.css")

		script(src="js/libs.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js")
	body
		div
			div.container
				div.header
					hr
					div.leftSide
						button.link Головна
						button.link Моделі
						button.link Конфігуратор
						button.link Акції
						button.link Світ Volkswagen
					div.logo
						img
					div.rightSide
						button.link SingIn
						button.link Register
				div.swiper-container
					div.swiper-wrapper
						div.swiper-slide slide1
						div.swiper-slide slide2
						div.swiper-slide slide3
					div.swiper-pagination
					div.swiper-button-next
					div.swiper-button-prev
				div.news
					div
						h1.newsTitle Актульне зі світу Volkswagen в Україні
					div.newsItem
						div.item
							img
						div.item
							img
						div.item
							img
						div.item
							img
				div.confSelf
					div
						h1.newsTitle Створіть власне авто у нашому конфігураторі
					div.customItem
						div
							img
							button.link Моделі Jetta
						div
							img
							button.link Моделі Arteon
				div.mail
					div
						h2 Дізнавайтеся про головне
						p Ви зацікавилися новинами з світу Volkswagen?
						p Хочите дізнатися про нові моделі та знижки?
						h4 Підписуйтесь на новини!
						button.swipeBtn Ваша скринька
				div.footer

	script(src="js/swiper.min.js")
	script.
		var swiper = new Swiper('.swiper-container', {
			slidesPerView: 1,
			spaceBetween: 30,
			loop: true,
			pagination: {
				el: '.swiper-pagination',
				clickable: true,
			},
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},
		});

