html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Volkswagen
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
		link(rel="stylesheet", href="css/libs.min.css")
		link(rel="stylesheet", href="css/main.min.css")
		link(rel="stylesheet", href="css/swiper.min.css")

		script(src="js/libs.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js")
	body
		header
			hr
			div.container
				a.toggle-button-menu
					span.bar-menu
					span.bar-menu
					span.bar-menu
				div.menu.wrapper
					ul.menuBottom
						li
							a.link(href="/") Головна
						li
							a.link(href="models.html") Моделі
						li
							a.link Конфігуратор
						li
							a.link Акції
						li
							a.link.B Volkswagen

					div.logo
						img(src="img/logo.png")
						p.logo-text Volkswagen
					
					ul.menuTop
						li
							a.linkAuth SingIn
						li
							a.linkAuth Register
				a.toggle-button-reg
					span.bar-reg
					span.bar-reg
					span.bar-reg

			
		div.swiper-container
			div.swiper-wrapper
				div.swiper-slide(style="background-image: url(img/swipe2.jpg)")		
					div.slide-inner.container
						p Для найвибагливіших кліентів
						h1 Найновіший Arteon
						button.btnSwiper	Дізнатися більше		
				div.swiper-slide(style="background-image: url(img/swipe1.jpg)")
					div.slide-inner.container
						p Для самих самих
						h1 Концепт Golf GTI
						button.btnSwiper	Дізнатися більше
				div.swiper-slide(style="background-image: url(img/swipe3.jpg)")
					div.slide-inner.container
						p Вибір комфорту та елегантності
						h1 Volkswagen Jetta
						button.btnSwiper	Дізнатися більше
			div.swiper-pagination
			div.swiper-button-next
			div.swiper-button-prev
			
			
		div.news-container
			div.container
				div.news
					div.blockTitle
						h1 Актульне зі світу Volkswagen в Україні
					div.newsItem.wrapper
						div.item
							img(src="img/new1.jpg")
						div.item
							img(src="img/new2.jpg")
						div.item
							img(src="img/new3.jpg")
						div.item
							img(src="img/new4.jpg")
			
		div.custom-container
			div.container
				div.custom
					div.blockTitle
						h1 Створіть власне авто в нашому конфігураторі
					div.custom-cars.wrapper
						div.carItem
							img(src="img/custom1.png")
							i.fas.fa-chevron-right
							a  Jetta
						div.carItem
							img(src="img/custom2.png")
							i.fas.fa-chevron-right
							a Arteon
						div.carItem
							img(src="img/custom1.png")
							i.fas.fa-chevron-right
							a Passat
							
		div.mail-container
			div.back
				div.container
					div.info-mail.wrapper
						h2 Дізнавайся про головне
						p Ви зацікавилися новинами з світу Volkswagen? Хочите дізнатися про нові моделі та знижки?  Підписуйтесь на новини!
						h3	Підписуйтесь на новини
						input.mail(placeholder="Ваш email")					

		footer
			div.container
				div.information.wrapper
					div.info
						h3 Volkswagen
						p Моделі
						p	Новини
					div.info
						h3 Сервіс
						p Конфігуратор
						p	Підписка на новини
					div.info
						h3 Підтримка
						p	Світ Volkswagen
						p	Акції
					div.info
						h3 Соціальні мережі
						p Facebook
						p Instagram	
				p © 2020 Volkswagen, all rights reserved	
								
	script(src="js/rdnavbar.js")
	script(src="js/swiper.min.js")
	script.
		var swiper = new Swiper('.swiper-container', {
			slidesPerView: 1,
			spaceBetween: 30,
			loop: true,
			pagination: {
				el: '.swiper-pagination',
				clickable: true,
			},
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},
		});

