html
	position: relative
	height: 100%

body
	margin: 0
	padding: 0
	
ul, li
	padding: 0
	margin: 0
	
.blockTitle
	h1
		font-family: sans-serif
		text-align: center
		font-size: 65px
		font-style: normal

hr
	padding: 0
	margin: 0
	position: absolute
	top: 50%
	width: 100%
	border: none
	height: 2px
	background-color: #001E50

.container
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto
  width: 1240px
  position: relative


.wrapper
	display: flex

header
	margin-top: 10px
	position: relative
	.toggle-button-menu
		position: absolute
		display: none
		flex-direction: column
		justify-content: space-between
		width: 30px
		height: 21px
		.bar-menu
			height: 3px
			width: 100%
			background-color: #001E50
	.toggle-button-reg
		position: absolute
		display: none
		flex-direction: column
		justify-content: space-between
		width: 30px
		height: 21px
		.bar-reg
			height: 3px
			width: 3px
			background-color: #001E50
	.menu
		justify-content: space-around
		width: 100%
		.menuTop
			z-index: 2
			justify-content: flex-end
			align-items: flex-start
			width: 500px
		.menuBottom
			z-index: 2
			justify-content: flex-start
			align-items: flex-end
		ul
			list-style: none
			display: flex
			margin-bottom: 0
			li
				display: inline
				padding: 0 8px
				.link
					vertical-align: bottom
					margin: 8px
					text-decoration: none
					color: #001E50
					font-weight: bold
				.link:hover
					cursor: pointer
					border-bottom: 2px solid  #001E50
				.linkAuth
					text-decoration: none
					font-weight: bold
					color: #001E50
				.linkAuth:hover
					cursor: pointer
					border-bottom: 2px solid  #001E50
		.logo
			z-index: 1
			margin: 0 auto
			img
				width: 100px
				position: relative
				background-color: #fff
				padding: 0 15px
			.logo-text
				display: none

.swiper-container
	margin-top: 20px
	margin-bottom: 50px
	width: 100%
	height: 70%
	
	.swiper-slide
		display: flex
		justify-content: center
		align-items: center
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		.slide-inner
			padding-top: 230px 
			p
				color: white
				font-size: 20px
				text-shadow: black 0 0 6px
			h1
				color: whitesmoke
				font-size: 40px
				margin-bottom: 30px
				text-shadow: black 0 0 6px
			.btnSwiper
				background-color: white
				border-radius: 20px
				border: none
				padding: 12px
				font-size: 20px
				width: 190px

.news-container
	display: flex
	margin-bottom: 40px
	.news	
		.newsItem
			justify-content: center
			flex-wrap: wrap
			height: 100%
			.item
				background-size: cover
				background-position: center
				margin: 40px
				
.custom-container
	.custom
		.custom-cars
			justify-content: space-around
			flex-wrap: wrap
			.carItem
				margin-top: 30px
				width: 390px
				text-align: center
				img
					height: 215px
					margin-bottom: 10px
				i
					font-size: 30px
				a
					padding-left: 20px
					text-decoration: none
					color: #001E50
					font-size: 30px
					
.mail-container
	margin: 50px 0
	width: 100%
	.back
		background-color: #001E50
		.info-mail
			height: 300px
			color: white
			flex-direction: column
			justify-content: center
			align-items: center
			.mail
				border: none
				border-radius: 20px
				padding: 10px
				color: #0b0b0b
					
footer
	margin-top: 30px
	.information
		justify-content: space-around
		border-top: #001E50 2px solid
		.info
			color: #001E50
	.rights-info
		color: #0b0b0b

.models-container
	margin-top: 20px
	.model-img
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		width: 100%
		height: 100%
		.model
			justify-content: space-between
			height: 100%
			.info-model
				display: flex
				flex-direction: column
				align-items: flex-start
				justify-content: flex-end
				color: white
				padding-bottom: 70px
				h3
					font-size: 30px
					margin-left: -90px
					text-shadow: black 0 0 6px
				h1
					font-size: 60px
					font-weight: bold
					text-shadow: black 0 0 6px
				p
			.btn-model
				display: flex
				align-items: flex-end
				padding-bottom: 70px
				.models-btn
					font-size: 15px
					margin: 20px
					color: #0b0b0b
					padding: 5px 30px
					border: none
					border-radius: 20px
					background-color: white



@import "_media"
